.main {
  height: 100vh !important;
  width: 100vw;
  padding: 64px 0;
  max-height: 1440px;
}

.profile-header {
  width: 300px;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #ffffff;
}
