<div class="flex flex-col justify-center items-center w-full">
  <form
    class="flex flex-col justify-center items-center w-50 p-5 border-2 rounded"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col justify-center items-center w-full">
      <span class="font-bold">Complete your infos</span>
    </div>
    <div class="flex flex-col justify-center items-center w-full mt-5">
      <div class="form-field flex flex-col justify-center items-start w-full">
        <div class="form-label font-bold">Your Name :</div>
        <div class="form-control border-2 rounded">
          <input data-cy="inputName" [formControlName]="'name'" type="text" name="name" placeholder="Your Name" required />
        </div>
        <div *ngIf="hasErrorInName" class="form-error">Name is required</div>
      </div>
      <div class="form-field flex flex-col justify-center items-start w-full mt-5">
        <div class="form-label font-bold">Your Age :</div>
        <div class="form-control border-2 rounded">
          <input
            [formControlName]="'age'"
            data-cy="inputAge"
            class="form-control"
            type="number"
            name="age"
            placeholder="Your Age"
            required
          />
        </div>
        <div *ngIf="hasErrorInAge" class="form-error">Age is must be a positive number</div>
      </div>
      <div class="form-field flex flex-col justify-center items-start w-full mt-5">
        <div class="form-label font-bold">Upload your profile picture :</div>
        <div class="form-control border-2 rounded">
          <input class="form-control" data-cy="inputProfilePic" type="file" name="profile-picture" />
        </div>
      </div>
      <div class="form-field flex flex-row justify-start items-center w-full mt-5">
        <label
          >I accept the term and condition
          <a class="underline" href="https://www.youtube.com/watch?v=-AXetJvTfU0" target="_blank">read it</a></label
        >
        <input class="form-check-input ml-5" data-cy="inputCheck" type="checkbox" value="" id="defaultCheck1" required />
      </div>
    </div>
    <button
      type="submit"
      class="validation-btn bg-blue-500 hover:bg-blue-700 text-white font-font-bold py-2 px-4 rounded mt-5"
      data-cy="formValid"
    >
      Submit
    </button>
  </form>
</div>
